# fly.toml app configuration file generated for downmark-pandoc on 2026-01-01T08:00:24-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'downmark-pandoc'
primary_region = 'sjc'

[build]
  dockerfile = 'Dockerfile'

[env]
  HOST = '0.0.0.0'
  PORT = '3001'

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 50
    soft_limit = 40

[[vm]]
  size = 'shared-cpu-1x'
  memory = '1gb'
